<app-header [objData]="objHeaderData"></app-header>

<ion-content class="st-content" no-bounce>
    <form (ngSubmit)='addPatient()' [formGroup]='addPatientForm'>

        <ion-list class="st-list">

            <ion-grid class="st-item">
                <ion-row>
                    <ion-col size="12">
                        <div class="st-label"><span></span>First name</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <input formControlName='firstName' type="text" class="st-text" [ngClass]="{'st-invalidate':addPatientForm.get('firstName').hasError('required') && formSubmitted}" />
                        <div class="st-danger" *ngIf="addPatientForm.get('firstName').hasError('required') && formSubmitted">Field is required</div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid class="st-item">
                <ion-row>
                    <ion-col size="12">
                        <div class="st-label"><span></span>Last name</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <input formControlName='lastName' type="text" class="st-text" [ngClass]="{'st-invalidate':addPatientForm.get('lastName').hasError('required') && formSubmitted}" />
                        <div class="st-danger" *ngIf="addPatientForm.get('lastName').hasError('required') && formSubmitted">Field is required</div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-item class="st-item-date">
                <ion-label>Birthdate</ion-label>
                <ion-datetime class="st-datepicker" displayFormat="D-MMM-YYYY" formControlName="birthDate" cancelText="Close" doneText="Done"></ion-datetime>
            </ion-item>

            <ion-grid class="st-item" *ngIf="addPatientForm.get('vat').validator">
                <ion-row>
                    <ion-col size="12">
                        <div class="st-label"><span></span>VAT</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <input formControlName='vat' type="text" class="st-text" [ngClass]="{'st-invalidate':addPatientForm.get('vat').hasError('required') && formSubmitted}" />
                        <div class="st-danger" *ngIf="addPatientForm.get('vat').hasError('required') && formSubmitted">Field is required</div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid class="st-item">
                <ion-item class="st-item-select no-margin" [ngClass]="{'st-invalidate':addPatientForm.get('doctor').hasError('required') && formSubmitted}">
                    <ion-label><span></span>Doctor</ion-label>
                    <ion-select placeholder="Select Doctor" formControlName='doctor' interface="action-sheet">
                        <ion-select-option [value]="doctor.id" *ngFor="let doctor of doctors">{{doctor.firstName + ' ' + doctor.lastName}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="st-danger" *ngIf="addPatientForm.get('doctor').hasError('required') && formSubmitted">Field is required</div>
            </ion-grid>


            <div formArrayName="addresses">
                <div [formGroupName]="i" *ngFor="let address of addPatientForm.controls.addresses.controls; let i = index;" class="st-addresses-wrapper">
                    <ion-grid class="st-item">
                        <ion-row>
                            <ion-col size="8">
                                <div class="st-label st-address-headline">Address {{ i + 1 }}</div>
                            </ion-col>
                            <ion-col size="4" *ngIf="i > 0">
                                <div class="st-remove" (click)="removeInputField(i)"><ion-icon name="trash"></ion-icon></div>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-item class="st-item-select no-margin" [ngClass]="{'st-invalidate':address.get('type').hasError('required') && formSubmitted}">
                                <ion-label>Address Type</ion-label>
                                <ion-select placeholder="Select Type" formControlName='type' disabled="true" *ngIf="i == 0">
                                    <ion-select-option value="{{address.value.type}}" *ngFor="let addressType of addressesType">{{ addressType }}</ion-select-option>
                                </ion-select>
                                <ion-select placeholder="Select Type" formControlName='type' *ngIf="i > 0" interface="action-sheet">
                                    <ion-select-option value="{{addressType}}" *ngFor="let addressType of addressesType">{{ addressType }}</ion-select-option>
                                </ion-select>
                            </ion-item>
                            <div class="st-danger" *ngIf="address.get('type').hasError('required') && formSubmitted">Field is required</div>
                        </ion-row>

                        <ion-row *ngIf="address.value.type == 'WORK' || address.value.type == 'RELATIVE'">
                            <ion-col size="12">
                                <div class="st-label">Name</div>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="address.value.type == 'WORK' || address.value.type == 'RELATIVE'">
                            <ion-col size="12">
                                <input formControlName='name' type="text" class="st-text" />
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <div class="st-label"><span></span>Email</div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <input formControlName='email' type="text" class="st-text" [ngClass]="{'st-invalidate':(address.get('email').hasError('required') ||
                                                                                                            address.get('email').hasError('email')) && formSubmitted}" />
                                <div class="st-danger" *ngIf="address.get('email').hasError('required') && formSubmitted">Field is required</div>
                                <div class="st-danger" *ngIf="address.get('email').hasError('email') && formSubmitted">Invalid email format</div>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <div class="st-label"><span></span>Phone Number</div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <input formControlName='phone' type="text" class="st-text" (focusout)="checkPhoneNumber(i)" [ngClass]="{'st-invalidate':(address.get('phone').hasError('required') ||
                                                                                                                                  address.get('phone').hasError('pattern')) && formSubmitted}" />
                                <div class="st-danger" *ngIf="address.get('phone').hasError('required') && formSubmitted">Field is required</div>
                                <div class="st-danger" *ngIf="address.get('phone').hasError('pattern') && formSubmitted">Invalid Phone Number Format</div>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <div class="st-label"><span></span>Street</div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <input formControlName='street' type="text" class="st-text" [ngClass]="{'st-invalidate':address.get('street').hasError('required') && formSubmitted}" />
                                <div class="st-danger" *ngIf="address.get('street').hasError('required') && formSubmitted">Field is required</div>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <div class="st-label"><span></span>City</div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <input formControlName='city' type="text" class="st-text" [ngClass]="{'st-invalidate':address.get('city').hasError('required') && formSubmitted}" />
                                <div class="st-danger" *ngIf="address.get('city').hasError('required') && formSubmitted">Field is required</div>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <div class="st-label"><span></span>ZIP</div>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <input formControlName='zipcode' type="text" class="st-text" [ngClass]="{'st-invalidate':address.get('zipcode').hasError('required') && formSubmitted}" />
                                <div class="st-danger" *ngIf="address.get('zipcode').hasError('required') && formSubmitted">Field is required</div>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <div class="st-label"><span></span>Country</div>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <input formControlName='country' type="text" class="st-text" [ngClass]="{'st-invalidate':address.get('country').hasError('required') && formSubmitted}" />
                                <div class="st-danger" *ngIf="address.get('country').hasError('required') && formSubmitted">Field is required</div>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </div>

                <ion-button class="st-address-button" expand="block" (click)="addNewInputField()">Add New Address</ion-button>

            </div>

            <button type="button" class="st-cancel" (click)="cancelAddPatient()">Cancel</button>
            <button type="submit" class="st-submit">Save</button>

        </ion-list>





<!--        <div formArrayName="addresses">-->

<!--            <section [formGroupName]="i" *ngFor="let address of addPatientForm.controls.addresses.controls; let i = index;">-->
<!--                <ion-item-group>-->
<!--                    <ion-item>-->
<!--                        <ion-label>{{address.value | json}}</ion-label>-->
<!--                    </ion-item>-->

<!--                    <span ion-button *ngIf="addPatientForm.controls.addresses.length > 1 && i > 0" (click)="removeInputField(i)"><ion-icon name="close"></ion-icon>Remove</span>-->
<!--                </ion-item-group>-->
<!--            </section>-->
<!--        </div>-->

<!--        <ion-button (click)="addNewInputField()">Add a new address</ion-button>-->


<!--        <button class="btn btn-default">Submit</button>-->
    </form>
</ion-content>
