<ion-menu side="start" type="push" contentId="content">
    <ion-header>
        <ion-toolbar class="st-sidemenu-content">
            <ion-title>HNP Test</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="st-sidemenu-content">
        <ion-list>
            <ion-menu-toggle>
                <ion-item (click)="changePage('/home')" class="st-item">
                    <ion-icon name="home" class="st-icon"></ion-icon>
                    <ion-label class="st-label">Home</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item (click)="changePage('/add')" class="st-item">
                    <ion-icon name="person-add" class="st-icon"></ion-icon>
                    <ion-label class="st-label">Add new patient</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
                <ion-item (click)="changePage('/list')" class="st-item">
                    <ion-icon name="list" class="st-icon"></ion-icon>
                    <ion-label class="st-label">List patients</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
