@import '../../../global.scss';

.content {
    --ion-background-color: var(--whiteDarken);

    & .st-patient {
        background-color: var(--white);

        & .st-name {
            font-size: 16px;
            font-weight: 700;
            color: var(--green);
            @extend %text-overflow;
        }

        & .st-addresses {
            margin-top: 10px;

            & .st-type {
                color: var(--green);
            }
        }
    }
}
