<app-header [objData]="objHeaderData"></app-header>

<ion-content class="content">

    <ion-card *ngFor="let patient of patients" class="st-patient">
        <ion-card-header>
            <ion-card-subtitle>{{ patient.registeredDate | date:'medium' }}</ion-card-subtitle>
            <ion-card-title class="st-name" (click)="goOnpatient(patient.id)">{{ patient.firstName }} {{ patient.lastName }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div>Doctor: {{ getDoctorName(patient.doctor) }} </div>
            <div *ngFor="let address of patient.addresses; let index = index" class="st-addresses">
                <div class="st-type">{{ address.type }}</div>
                <div>{{ address.phone }}</div>
                <div (click)="sendEmail(address.email)">{{ address.email }}</div>
                <div>{{ address.street }} {{ address.city }} {{ address.zipcode }} {{ address.country }}</div>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
