@font-face
{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: 	url('src/assets/fonts/montserrat/Montserrat-Regular.ttf');
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face
{
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	src: 	url('src/assets/fonts/montserrat/Montserrat-Italic.ttf');
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

@font-face
{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: 	url('src/assets/fonts/montserrat/Montserrat-Bold.ttf');
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////